<a href="{{##.slab##}}/index.html">
<!-- Note: "index.html" is not necessary once hosted on a true web server /-->
    Main
</a>
<a href="{{##.slab##}}/blog/index.html">
    Blog
</a>
<a href="{{##.slab##}}/contact.html">
    Contact
</a>
