<p>My blog contains random notes and thoughts. Enjoy!</p>
<p><tt>cyc</tt> can also generate other types of files, such as this blog's <a href="rss.xml">RSS feed</a>.</p>

<h3>Posts</h3>

{{!!posts!!}}
